html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: skyblue;
}

h1 {
  text-align: center;
  padding-right: 5%;
  padding-left: 5%;
}

h2 {
  text-align: center;
  padding-right: 5%;
  padding-left: 5%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  /* Adjust the margin as needed */
}

main {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Libre Franklin', sans-serif;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: right;
}

nav {
  display: inline-block;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  color: white;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  padding: 20px;
  padding-bottom: 50px;
  /* Adjust the padding as needed */
}

.textbox {
  width: 90%;
  max-width: 700px;
  padding: 20px;
  background-color: #e6ffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.textbox p {
  font-size: 24px;
  /* Adjust the font size as needed */
  text-align: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-family: 'Libre Franklin', sans-serif;
}

.title,
.description {
  text-align: justify;
  font-family: 'Libre Franklin', sans-serif;
}

.description {
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  font-family: 'Libre Franklin', sans-serif;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  grid-gap: 20px;
}

.card {
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-family: 'Libre Franklin', sans-serif;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

/* CSS styles for the gallery grid */
.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  /* 5 images wide */
  grid-gap: 10px;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


/* Styles for scrollable container */
.scrollable-container {
  overflow-x: auto;
  /* Horizontal scrolling */
  white-space: nowrap;
  /* Prevent line breaks */
  margin-bottom: 20px;
  /* Add some space at the bottom */
}

/* Style for the container of the scrollable gallery */
.scrollable-gallery {
  display: flex;
}


.post-section {
  margin-bottom: 20px;
}

.post-section h2 {
  margin-bottom: 10px;
}

.post-section form label {
  display: block;
  margin-bottom: 5px;
}

.post-section form input[type="text"],
.post-section form textarea,
.post-section form input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.post-section form input[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Posts section styles */

.posts {
  display: grid;
  grid-gap: 20px;
}

.post {
  border: 100px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.post h3 {
  margin-top: 0;
}

.post p {
  margin-bottom: 10px;
}

.post img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: 2px solid #007bff;
  border-radius: 5px;
  transition: background-color 0.
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.gallery-item {
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: auto;
}
